  <div class="row">
    <div class="col-12 mt-3">
      <div class="input-group mb-3">
        <input [(ngModel)]="filterPhrase" type="text" class="form-control" placeholder="Keress a könyvet között" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="search-btn" type="button" id="button-addon2">Keresés</button>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12">
      <div role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark mr-3">Rendezés</button>
        <button type="button" class="btn btn-secondary btn-sm  mr-3" (click)="sort('NameAZ')">Név A-z</button>
        <button type="button" class="btn btn-secondary btn-sm mr-3" (click)="sort('NameZA')">Név Z-a</button>
        <button type="button" class="btn btn-secondary btn-sm  mr-3" (click)="sort('Price19')">Ár 1-9999</button>
        <button type="button" class="btn btn-secondary btn-sm mr-3" (click)="sort('Price91')">Ár 9999-1</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="product-list__cards">
        <app-product-card
          class="product-list__card"
          [cssClasses]="{ descriptor: 'p-4 p-lg-2 p-xl-3' }"
          [product]="item"
          *ngFor="let item of products | filter:filterPhrase:['name', 'author', 'description', 'price'] | sort:sortType"
        ></app-product-card>
      </div>
    </div>
  </div>
