.product-list {
  &__card {
    &s {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
    }
    display: flex;

    @media screen and (min-width: 992px) {
      width: calc(100% / 5 - 2.4rem);
    }

    @media screen and (min-width: 576px) and (max-width: 991px) {
      width: calc(100% / 2 - 1.5rem);
      justify-content: center;
    }

    @media screen and (max-width: 575px) {
      width: 100%;
      justify-content: center;
    }
  }
}

.search-btn {
  font-weight: 500;
  color: var(--app-primary-darker);
  background-color: transparent;
  border: 1px solid var(--app-primary-darker);
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;

  &:hover {
    color: white;
    background-color: var(--app-primary-darker);
  }
}
