  <div class="row">
    <div class="col-12 mt-3">
      <div class="input-group mb-3">
        <input [(ngModel)]="filterPhrase" type="text" class="form-control" placeholder="Keress a könyvet között" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-group">
       <app-product-card class="mb-5" [product]="item" *ngFor="let item of products | filter:filterPhrase:'name' " ></app-product-card>
      </div>
    </div>
