<div class="product-card mb-4">
  <div class="card border-0 shadow" (click)="openDetail()">
    <img [src]="product.image" class="card-img-top" />
    <div
      class="product-card__descriptor d-flex flex-column"
      [ngClass]="cssClasses['descriptor']"
    >
      <p
        class="product-card__descriptor_title card-title"
      >
        {{ product.name | sliceTitle }}
      </p>
      <p
        class="product-card__descriptor_subtitle card-title"
      >
        {{ product.author }}
      </p>
      <div
        class="product-card__descriptor_footer d-flex flex-column justify-content-between mt-auto"
      >
        <div class="d-flex justify-content-between">
          <span>Ár: {{ product.price }} Ft</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <i class="fa fa-heart" aria-hidden="true" (click)="$event.stopPropagation()"></i>
          <button class="btn" (click)="$event.stopPropagation()">Kosárba</button>
        </div>
      </div>
    </div>
  </div>
</div>
