// @import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.intro {
  width: 100%;
  height: auto;
}

.background {
  background: var(--app-bg);
}

.subheading {
  color: var(--app-primary-dark);
  font-weight: 700;
}

.content {
  @media screen and (min-width: 1200px) {
    padding: 5rem;
  }

  @media screen and (min-width: 992px) and (max-width: 1199px) {
    padding: 3rem;
  }

  @media screen and (min-width: 576px) and (max-width: 991px) {
    padding: 1.5rem;
  }

  @media screen and (max-width: 575px) {
    padding: 1.5rem;
  }
}
