<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped mt-4 table-hover table-bordered">
      <thead>
        <tr>
          <th *ngFor="let col of columns">{{ col.title }}</th>
          <th>Szerkesztés</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async">
          <td>{{ product.id }}</td>
          <td>
            <div *ngIf="product.id === editedId">
              <input
                type="text"
                [(ngModel)]="product.catId"
                class="form-control"
              />
            </div>
            <div *ngIf="product.id !== editedId">
              {{ product.catId }}
            </div>
          </td>
          <td>
            <div *ngIf="product.id === editedId">
              <input
                type="text"
                [(ngModel)]="product.name"
                class="form-control"
              />
            </div>
            <div *ngIf="product.id !== editedId">
              {{ product.name }}
            </div>
          </td>
          <td>
            <div *ngIf="product.id === editedId">
              <input
                type="text"
                [(ngModel)]="product.author"
                class="form-control"
              />
            </div>
            <div *ngIf="product.id !== editedId">
              {{ product.author }}
            </div>
          </td>
          <td>
            <div *ngIf="product.id === editedId">
              <input
                type="text"
                [(ngModel)]="product.description"
                class="form-control"
              />
            </div>
            <div *ngIf="product.id !== editedId">
              {{ product.description }}
            </div>
          </td>
          <td>
            <div *ngIf="product.id === editedId">
              <input
                type="text"
                [(ngModel)]="product.image"
                class="form-control"
              />
            </div>
            <div *ngIf="product.id !== editedId">
              {{ product.image }}
            </div>
          </td>
          <td>
            <div *ngIf="product.id === editedId">
              <input
                type="text"
                [(ngModel)]="product.price"
                class="form-control"
              />
            </div>
            <div *ngIf="product.id !== editedId">
              {{ product.price }}
            </div>
          </td>
          <td>
            <div *ngIf="product.id === editedId">
              <input
                type="text"
                [(ngModel)]="product.stock"
                class="form-control"
              />
            </div>
            <div *ngIf="product.id !== editedId">
              {{ product.stock }}
            </div>
          </td>
          <td>
            <div *ngIf="product.id === editedId">
              <input
                type="text"
                [(ngModel)]="product.featured"
                class="form-control"
              />
            </div>
            <div *ngIf="product.id !== editedId">
              {{ product.featured | trueFalse }}
            </div>
          </td>
          <td>
            <div *ngIf="product.id === editedId">
              <input
                type="text"
                [(ngModel)]="product.active"
                class="form-control"
              />
            </div>
            <div *ngIf="product.id !== editedId">
              {{ product.active | trueFalse }}
            </div>
          </td>
          <td>
            <div *ngIf="product.id === editedId">
              <input
                type="text"
                [(ngModel)]="product.discounted"
                class="form-control"
              />
            </div>
            <div *ngIf="product.id !== editedId">
              {{ product.discounted | trueFalse }}
            </div>
          </td>
          <td class="d-flex">
            <div *ngIf="product.id === editedId">
              <button class="btn btn-success" (click)="save(product)">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
              </button>
            </div>
            <div *ngIf="product.id === editedId">
              <button class="btn btn-secondary" (click)="cancel()">
                <i class="fa fa-ban" aria-hidden="true"></i>
              </button>
            </div>
            <div *ngIf="product.id !== editedId">
              <button class="btn btn-info" (click)="edit(product)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            </div>
            <ng-container *ngIf="product.id !== editedId">
              <button class="btn btn-danger" (click)="delete(product.id || -1)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </button>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
