<div [id]="'carousel-' + instance" class="carousel d-flex align-items-center">
  <div class="carousel__btn d-flex justify-content-center">
    <button type="button" [disabled]="currPage === 0" (click)="pager()">
      <i class="fa fa-chevron-left fa-2x"></i>
    </button>
  </div>
  <div class="carousel__cards">
    <div class="carousel__cards_wrapper d-flex">
      <ng-container *ngFor="let book of books">
        <div class="carousel__card d-flex">
          <app-product-card [product]="book" [cssClasses]="productCardScss"></app-product-card>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="carousel__btn d-flex justify-content-center">
    <button type="button" [disabled]="currPage === maxPage" (click)="pager(true)">
      <i class="fa fa-chevron-right fa-2x"></i>
    </button>
  </div>
</div>
